{% set value = value|default(null) %}

<label class="label CheckoutForm__Label CheckoutForm__Label--Required">
    State/Province
    <input
        type="text"
        name="stateProvince"
        class="input CheckoutForm__Input"
        placeholder="i.e. Tennessee"
        required
    >
</label>
