{% set value = value|default(null) %}

<label class="label CheckoutForm__Label CheckoutForm__Label--Required JSCheckoutForm__StateProvinceLabel">
    State/Province
    <input
        type="text"
        name="stateProvince"
        class="input CheckoutForm__Input JSCheckoutForm__Input--UpdateWatch"
        placeholder="i.e. Tennessee"
        value="{{ value }}"
        required
    >
</label>
