{% set value = value|default(null) %}
{% set errors = errors|default([]) %}

{% set hasSelected = false %}
{% for stateAbbr,stateName in states() %}
    {% if value == stateAbbr %}
        {% set hasSelected = true %}
    {% endif %}
{% endfor %}

<label class="label CheckoutForm__Label CheckoutForm__Label--Required JSCheckoutForm__StateProvinceLabel JSCheckoutForm__Input--UpdateWatch">
    State
    <select name="stateProvince" class="select{% if errors|length > 0 %} select--has-error{% endif %} CheckoutForm__Select" required>
        <option value="" disabled{% if not hasSelected %} selected{% endif %}>
            Select State...
        </option>
        {% for stateAbbr,stateName in states() %}
            <option
                value="{{ stateAbbr }}"
                {% if stateAbbr == value %}
                selected
                {% endif %}
            >
                {{ stateName }}
            </option>
        {% endfor %}
    </select>
    {% if errors|length > 0 %}
        <ul class="CheckoutForm__InputErrors">
            {% for error in errors %}
                <li class="CheckoutForm__InputErrorItem">
                    {{ error|typeset }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</label>
