{# @var \craft\web\twig\variables\CraftVariable craft #}

{% set redirectUrl = redirectUrl|default('/') %}
{% set registerRedirectUrl = registerRedirectUrl|default('/account/register/intermediate') %}
{% set loginError = craft.app.session.flash('error') ?? '' %}

<div class="LogInForm">
    <div class="LogInForm__Inner">
        <h2 class="LogInForm__Title">Log In or Register</h2>
        {% embed '_embeds/LayoutTwoColumns.twig' with {
            noticeIsError: true,
            noticeTitle: 'Unable to log in',
            noticeContent: loginError|markdown,
        } %}
            {% block leftColumnContent %}
                <form method="post" accept-charset="UTF-8" class="LogInForm__Form">
                    {{ csrfInput() }}
                    {{ redirectInput(redirectUrl) }}
                    <input type="hidden" name="action" value="dev/account-action/login">
                    <input type="hidden" name="rememberMe" value="1">
                    <h3 class="LogInForm__FormTitle">Log In</h3>
                    <label class="label LogInForm__Label LogInForm__Label--Required">
                        Email Address
                        <input
                            type="email"
                            name="loginName"
                            class="input LogInForm__Input"
                            placeholder="bill@smith.com"
                            required
                        >
                    </label>
                    <label class="label LogInForm__Label LogInForm__Label--Required">
                        Password
                        <input
                            type="password"
                            name="password"
                            class="input LogInForm__Input"
                            placeholder="MyPassW0rd!"
                            required
                        >
                    </label>
                    <div class="LogInForm__ButtonSet">
                        <input class="button LogInForm__ButtonSubmit" type="submit" value="Log In">
                        <a href="/account/iforgot" class="button button--colored button--outlined LogInForm__ButtonReset">Reset Password</a>
                    </div>
                </form>
            {% endblock %}
            {% block rightColumnContent %}
                <form method="post" accept-charset="UTF-8" class="LogInForm__Form">
                    {{ csrfInput() }}
                    {{ redirectInput(registerRedirectUrl) }}
                    <input type="hidden" name="action" value="users/save-user">
                    <h3 class="LogInForm__FormTitle">Register</h3>
                    <label class="label LogInForm__Label LogInForm__Label--Required">
                        Email Address
                        <input
                            type="email"
                            name="email"
                            class="input LogInForm__Input"
                            placeholder="bill@smith.com"
                            required
                        >
                    </label>
                    <label class="label LogInForm__Label LogInForm__Label--Required">
                        Password
                        <input
                            type="password"
                            name="password"
                            class="input LogInForm__Input"
                            placeholder="MyPassW0rd!"
                            required
                        >
                    </label>
                    <div class="LogInForm__ButtonSet">
                        <input class="button LogInForm__ButtonSubmit" type="submit" value="Register">
                    </div>
                </form>
            {% endblock %}
        {% endembed %}
    </div>
</div>
