<footer class="SiteFooter">
    <div class="SiteFooter__Copyright">
        &copy; {{ "now"|date('Y') }} BuzzingPixel, LLC
    </div>
    <div class="SiteFooter__Icons">
        <a href="https://twitter.com/buzzingpixel" class="SiteFooter__Icon" title="BuzzingPixel on Twitter">
            {% include '_icons/icon-twitter.svg' %}
        </a>
        <a href="https://github.com/tjdraper" class="SiteFooter__Icon" title="BuzzingPixel on Twitter">
            {% include '_icons/icon-github.svg' %}
        </a>
        <a href="/support" class="SiteFooter__Icon" title="BuzzingPixel on Twitter">
            {% include '_icons/icon-support.svg' %}
        </a>
        <a href="/contact" class="SiteFooter__Icon" title="BuzzingPixel on Twitter">
            {% include '_icons/icon-contact.svg' %}
        </a>
    </div>
</footer>
