.button:hover {
    box-shadow: 0 2px 26px 3px rgba(0, 0, 0, 0.15);
}

.button:active {
    transform: scale(.98);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.15);
}

.button--danger {
    background-color: #c30000;
    border-color: #c30000;
    color: var(--white);
}

.button--danger:hover {
    border-color: #900000;
    background-color: #900000;
    color: var(--white);
}

.button--danger:active {
    background-color: #630000;
    border-color: #630000;
}
