{# @var \craft\web\twig\variables\CraftVariable craft #}

{% extends '_layouts/Master.twig' %}

{% set header = {
    meta: {
        heading: 'Reset your password'
    },
} %}

{% block content %}
    <form method="post" accept-charset="UTF-8" class="MiniForm">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="users/set-password">
        <input type="hidden" name="code" value="{{ code }}">
        <input type="hidden" name="id" value="{{ id }}">
        <label class="label MiniForm__Label MiniForm__Label--Required">
            New Password
            <input
                type="password"
                name="newPassword"
                class="input MiniForm__Input"
                placeholder="MyPassW0rd!"
                required
            >
        </label>
        <input class="button MiniForm__ButtonSubmit" type="submit" value="Send Password Reset Email">
    </form>
{% endblock %}
