.BlockEditPaymentMethod__Inner {
    margin: 0 auto;
    max-width: 1400px;
    padding: 30px 0;
}

.BlockEditPaymentMethod__TitleArea {
    font-size: 20px;
    line-height: 1.4em;
    padding: 0 14px 30px 14px;
    text-align: center;
}

.BlockEditPaymentMethod__MobileBreak {
    display: block;
}
