################################################################################
### Docker #####################################################################
################################################################################

dockerNginxConfFile=./serverConfig/nginx/buzzingpixel.test.conf
dockerPhpEnvIni=./serverConfig/php/php-config-dev.ini
dockerDbDataDir=./db
dockerNginxPort=42245
dockerDbPort=30013
mySqlRootPassword=root





################################################################################
### Craft ######################################################################
################################################################################

# Template caching
CLEAR_TEMPLATE_CACHE_ON_LOAD=true

# The site URL
SITE_URL="http://buzzingpixel.test:42245"

# Dev mode
DEV_MODE=true

# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT="dev"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=""

# The database driver that will used ('mysql' or 'pgsql')
DB_DRIVER="mysql"

# The database server name or IP address (usually this is 'localhost' or '127.0.0.1')
DB_SERVER="db"

# The database username to connect with
DB_USER="site"

# The database password to connect with
DB_PASSWORD="secret"

# The name of the database to select
DB_DATABASE="site"

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA="public"

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=""

# The port to connect to the database with. Will default to 5432 for PostgreSQL and 3306 for MySQL.
DB_PORT=""
