.Pagination__Item--FirstActual,
.Pagination__Item:first-child {
    margin-left: 4px;
}

.Pagination__Item--LastActual,
.Pagination__Item:last-child {
    margin-right: 4px;
}

.Pagination__Item--FirstPage,
.Pagination__Item--LastPage {
    display: inline-block;
}

.Pagination__Active,
.Pagination__Link {
    font-size: 22px;
}
