.BlockNavBar__Inner {
    margin: 26px auto;
}

.BlockNavBar__Item {
    display: inline-block;
}

.BlockNavBar__Link {
    border-left: 2px solid var(--orange);
    border-top: 0;
    display: block;
    line-height: 1em;
    padding: 10px;
    text-decoration: none;
}

.BlockNavBar__Item:first-child .BlockNavBar__Link {
    border-left: 0;
}
