.DocsHeader,
.DocsAside {
    border-right: 1px solid var(--lighterGray);
    left: 0;
    position: fixed;
    top: 0;
    width: 280px;
}

.DocsAside {
    height: calc(100% - 46px);
    overflow-y: auto;
    top: 46px;

    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.DocsNav__MobileActivator {
    display: none;
}

.DocsNav__Sections {
    display: block;
}

.DocsContent {
    padding-left: 280px;
}
