.EmbedContainer,
.embed-container {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.EmbedContainer iframe,
.embed-container iframe,
.EmbedContainer object,
.embed-container object,
.EmbedContainer embed,
.embed-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
