.CheckoutForm__Section {
    margin-bottom: 50px;
}

.CheckoutForm__Label--Required:before {
    color: var(--orange);
    content: '*';
    font-weight: var(--StandardFontBoldWeight);
}

.CheckoutForm__Label--PaySubmit {
    margin-top: 20px;
    text-align: right;
}
