.LogInForm__ButtonSet {
    display: flex;
    justify-content: space-between;
}

.LogInForm__ButtonSubmit,
.LogInForm__ButtonReset {
    position: relative;
    width: calc(50% - 8px);
}

.LogInForm__ButtonSubmit {
    right: calc((-50%) - 8px);
}

.LogInForm__ButtonReset {
    left: calc((-50%) - 8px);
}
