<div class="Overlay">
    <div class="Overlay__Inner">
        <div class="Overlay__Box">
            <div class="Overlay__BoxInner">
                <span class="Overlay__CloseButton">{% include '_icons/icon-close.svg' %}</span>
                {{ block('overlayContent') }}
            </div>
        </div>
    </div>
</div>
