.LayoutTwoColumn__Left {
    margin-bottom: 40px;
    padding-bottom: 42px;
    position: relative;
}

.LayoutTwoColumn__Left:after {
    background-color: var(--lighterGray);
    bottom: 0;
    content: ' ';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    width: 70%;
    transform: translate(-50%);
}

.LayoutTwoColumn__StandardContentWrapper--IsPadded {
    padding-left: 16px;
    padding-right: 16px;
}
