.Cart .LayoutTwoColumn__Inner {
    display: flex;
}

.Cart .LayoutTwoColumn__Right,
.Cart .LayoutTwoColumn__Left {
    width: 50%;
}

.Cart .LayoutTwoColumn__Left {
    margin-bottom: 0;
    padding-bottom: 0;
}

.Cart .LayoutTwoColumn__Left:after {
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
    width: 1px;
}

.Cart .LayoutTwoColumn__StandardContentWrapper--IsPadded {
    padding-left: 36px;
    padding-right: 36px;
}
