{% extends '_layouts/Master.twig' %}
{% set redirectUrl = redirectUrl ?? '/account' %}

{% block content %}
    <div class="StandAloneLoginForm">
        {% include '_partials/LogInForm.twig' with {
            redirectUrl: redirectUrl
        } %}
    </div>
{% endblock %}
