.SiteHeader {
    background-color: var(--green);
    background-position: 50% 50%;
    background-size: cover;
}

/** TODO: Temporary styling to give the header some height while styling other stuff **/
.SiteHeader__Content {
    padding-top: 65px;
}

.SiteHeader__Heading,
.SiteHeader__SubHeading {
    margin: 0;
}
