.SiteHeader {
    background-color: var(--green);
    background-position: 50% 50%;
    background-size: cover;
}

/** TODO: Temporary styling to give the header some height while styling other stuff **/
.SiteHeader__Content {
    height: 400px;
}
