.CodeBlockTitle {
    background-color: rgba(var(--green), 0.85);
    border-radius: 2px;
    bottom: -20px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    left: 10px;
    padding: 3px 10px;
    position: relative;
}
