.BlockStandard__Inner--HasFeaturedImage.BlockStandard__Inner--FeaturedImageStyle-ImageRight {
    margin-top: 66px;
}

.BlockStandard__ContentPrimary--HasFeaturedImage.BlockStandard__ContentPrimary--FeaturedImageStyle-ImageRight,
.BlockStandard__FeaturedImage--FeaturedImageStyle-ImageRight {
    display: inline-block;
    vertical-align: top;
}

.BlockStandard__FeaturedImage--FeaturedImageStyle-ImageRight {
    width: 900px;
}

.BlockStandard__ContentPrimary--HasFeaturedImage.BlockStandard__ContentPrimary--FeaturedImageStyle-ImageRight {
    margin-top: 0;
    width: calc(100% - 928px);
}
