.BlockLicenseAgreement__Inner {
    margin: 0 auto;
    max-width: 650px;
    padding: 30px 8px;
}

.BlockLicenseAgreement__Body {
    border: 1px solid var(--lighterGray);
    margin: 28px 0;
    max-height: 340px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 8px;
    -webkit-overflow-scrolling: touch;
}

.BlockLicenseAgreement__Link {
    text-align: right;
}
