:root {
    --white: #fff;
    --lightestGray: #f7f7f7;
    --lighterGray: #e5e5e5;
    --lightGray: #bfbfbf;
    --gray: #999;
    --darkGray: #737373;
    --darkerGray: #4c4c4c;
    --darkestGray: #262626;
    --black: #000;

    --green: #008c69;
    --lightGreen: #00a67c;
    --lighterGreen: #00bf8f;
    --orange: #cf640e;
    --darkOrange: #b7580c;
    --darkerOrange: #9f4d0b;
}
