:root {
    --StandardFont: "proxima-nova", sans-serif;
    --StandardFontLightWeight: 300;
    --StandardFontRegularWeight: 400;
    --StandardFontBoldWeight: 600;

    --AltFont: "lexia", serif;
    --AltFontLightWeight: 400;
    --AltFontRegularWeight: 400;
    --AltFontBoldWeight: 700;
}
