:root {
    --bodyBackground: var(--darkerGray);
    --baseColor: var(--darkerGray);
    --baseFont: var(--StandardFont);
    //--baseFontSize: 16px;
    --baseFontWeight: var(--StandardFontRegularWeight);
    //--baseLineHeight: 1em;
}
