{# @var \craft\web\twig\variables\CraftVariable craft #}

{% extends '_layouts/HtmlWrapper.twig' %}

{% block layoutContent %}
    <div
        class="SiteWrapper JSSiteWrapper"
        data-has-overlay-class="SiteWrapper--HasOverlay"
    >
        {% include '_partials/SiteHeader.twig' %}

        <main class="SiteMain">
            {{ block('content') ?? '' }}
        </main>

        {% include '_partials/SiteFooter.twig' %}
    </div>
{% endblock %}
