.BlockCards__Inner {
    padding: 10px;
}

.BlockCards__Search {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 550px;
}

.BlockCards__SearchInputWrapper {
    width: calc(100% - 110px);
}

.BlockCards__SearchSubmitWrapper {
    width: 100px;
}

.BlockCards__SearchSubmit {
    width: 100%;
}
