.ContentBlock--HasBgColor-LightGray {
    background-color: var(--lighterGray);
}

.ContentBlock--HasAlternatingBgColor:nth-child(even),
.ContentBlock--HasBgColor-Green {
    background-color: var(--green);
}

.ContentBlock--HasBgColor-Green a:not(.button):hover {
    color: var(--lighterGreen);
}
