.ClearFix {
    content: ' ';
    clear: both;
    display: table;
}

.HideElement {
    @mixin HideElement;
}

pre[class*="language-"] {
    margin-bottom: 30px !important;
}

.select {
    -moz-appearance:none;
}

.input--has-error,
.input--has-error:hover,
.input--has-error:focus,
.select--has-error,
.select--has-error:hover,
.select--has-error:focus {
    border-color: var(--orange);
    margin-bottom: 0;
}
