.ClearFix {
    content: ' ';
    clear: both;
    display: table;
}

.HideElement {
    @mixin HideElement;
}

pre[class*="language-"] {
    margin-bottom: 30px !important;
}

.select {
    -moz-appearance:none;
}
