.Note {
    background-color: rgba(207, 100, 14, 0.15);
    border: 1px solid rgba(0, 140, 105, 0.5);
    font-size: 14px;
    margin: 30px 0;
    padding: 20px;
    position: relative;
}

.Note__Title {
    background-color: rgba(0, 140, 105, 0.75);
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    left: 10px;
    padding: 3px 10px;
    position: absolute;
    top: -12px;
}
