.Cart__Inner {
    display: flex;
    padding: 0;
}

.Cart__Checkout,
.Cart__SidebarAtDesktop {
    padding: 30px 20px;
    position: relative;
}

.Cart__Checkout {
    padding: 20px;
}

.Cart__Checkout {
    right: -430px;
    width: calc(100% - 430px);
}

.Cart__SidebarAtDesktop {
    background-color: var(--lightestGray);
    border-right: 1px solid var(--lighterGray);
    left: calc((-100%) + 430px);
    width: 430px;
}
