.Cart__Checkout {
    right: -480px;
    width: calc(100% - 480px);
}

.Cart__SidebarAtDesktop {
    background-color: var(--lightestGray);
    border-right: 1px solid var(--lighterGray);
    left: calc((-100%) + 480px);
    width: 480px;
}
