.Cart__ItemMeta {
    display: flex;
}

.Cart__ItemTitle {
    width: calc(100% - 240px);
}

.Cart__ItemMeta {
    justify-content: space-between;
    width: 240px;
}

.Cart__ItemMetaQtyInput {
    margin: 0;
    width: 48px;
}

.Cart__ItemMetaUpdateSubmit,
.Cart__ItemMetaRemove {
    padding: 11px;
}
